In [57]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [26]:
pd.set_option('display.max_columns', None)

In [10]:
# Loading data
file_path = Path("cleaned_team.csv")
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,team,map,result,map_winner,starting_ct,ct,t,event_id,match_id,...,hs,flash_assists,kast,kddiff,adr,fkdiff,rating,date,start,equipment_cost_total_all_rounds
0,0,Chaos,Nuke,10,W,Yes,1,9,5151,2339815,...,40,5.0,66.16,-10,68.90,4,0.970,2020-02-27,t,518400.0
1,1,Chiefs,Inferno,16,L,No,9,7,5152,2339828,...,37,10.0,80.88,28,86.18,15,1.342,2020-02-26,ct,517650.0
2,2,ORDER,Dust2,16,L,No,12,4,5152,2339773,...,30,7.0,84.20,52,91.72,9,1.562,2020-02-26,ct,475300.0
3,3,eUnited,Train,16,L,No,9,7,5151,2339551,...,46,11.0,76.92,23,85.14,10,1.248,2020-02-26,ct,569200.0
4,4,Virtus.pro,Vertigo,16,L,No,8,8,4901,2339389,...,42,1.0,75.66,24,80.04,1,1.230,2020-02-26,ct,482800.0

In [12]:
df = df.drop(['Unnamed: 0','starting_ct'],axis=1)

In [13]:
df.head()

,team,map,result,map_winner,ct,t,event_id,match_id,rank,map_wins,...,hs,flash_assists,kast,kddiff,adr,fkdiff,rating,date,start,equipment_cost_total_all_rounds
0,Chaos,Nuke,10,W,1,9,5151,2339815,54,10,...,40,5.0,66.16,-10,68.90,4,0.970,2020-02-27,t,518400.0
1,Chiefs,Inferno,16,L,9,7,5152,2339828,92,16,...,37,10.0,80.88,28,86.18,15,1.342,2020-02-26,ct,517650.0
2,ORDER,Dust2,16,L,12,4,5152,2339773,62,16,...,30,7.0,84.20,52,91.72,9,1.562,2020-02-26,ct,475300.0
3,eUnited,Train,16,L,9,7,5151,2339551,67,16,...,46,11.0,76.92,23,85.14,10,1.248,2020-02-26,ct,569200.0
4,Virtus.pro,Vertigo,16,L,8,8,4901,2339389,19,1,...,42,1.0,75.66,24,80.04,1,1.230,2020-02-26,ct,482800.0

In [14]:
start_encoded = pd.get_dummies(df, columns=["start"])
start_encoded

,team,map,result,map_winner,ct,t,event_id,match_id,rank,map_wins,...,flash_assists,kast,kddiff,adr,fkdiff,rating,date,equipment_cost_total_all_rounds,start_ct,start_t
0,Chaos,Nuke,10,W,1,9,5151,2339815,54,10,...,5.0,66.16,-10,68.90,4,0.970,2020-02-27,518400.0,0,1
1,Chiefs,Inferno,16,L,9,7,5152,2339828,92,16,...,10.0,80.88,28,86.18,15,1.342,2020-02-26,517650.0,1,0
2,ORDER,Dust2,16,L,12,4,5152,2339773,62,16,...,7.0,84.20,52,91.72,9,1.562,2020-02-26,475300.0,1,0
3,eUnited,Train,16,L,9,7,5151,2339551,67,16,...,11.0,76.92,23,85.14,10,1.248,2020-02-26,569200.0,1,0
4,Virtus.pro,Vertigo,16,L,8,8,4901,2339389,19,1,...,1.0,75.66,24,80.04,1,1.230,2020-02-26,482800.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21493,Winstrike,Train,16,W,12,4,3929,2325100,41,2,...,3.0,74.10,5,73.54,-1,1.078,2018-07-28,585200.0,0,1
21494,Winstrike,Inferno,12,L,8,4,3929,2325100,41,2,...,11.0,60.70,-24,61.80,-2,0.872,2018-07-28,541750.0,0,1
21495,Winstrike,Mirage,16,W,11,5,3929,2325100,41,2,...,4.0,79.28,9,73.98,-1,1.146,2018-07-28,596350.0,0,1
21496,Isurus,Dust2,9,L,2,7,3890,2325014,181,0,...,8.0,60.80,-33,69.16,-9,0.800,2018-07-27,380650.0,1,0
21497,Isurus,Mirage,9,L,2,7,3890,2325014,181,0,...,3.0,56.80,-40,63.86,-7,0.736,2018-07-27,375800.0,0,1

In [33]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = start_encoded.copy()
df2['map'] = le.fit_transform(df2['map'])
df2['map_winner'] = le.fit_transform(df2['map_winner'])
df2['team_code'] = le.fit_transform(df2['team'])
df2['opponent_code'] = le.fit_transform(df2['opponent'])
df2['match_winner'] = le.fit_transform(df2['match_winner'])
df2.head()

,team,map,result,map_winner,ct,t,event_id,match_id,rank,map_wins,match_winner,total_rounds_played,opponent,best_of,kills,assists,deaths,hs,flash_assists,kast,kddiff,adr,fkdiff,rating,date,equipment_cost_total_all_rounds,start_ct,start_t,team_code,opponent_code
0,Chaos,4,10,1,1,9,5151,2339815,54,10,1,26,Under 21,1,82,19,92,40,5.0,66.16,-10,68.90,4,0.970,2020-02-27,518400.0,0,1,78,384
1,Chiefs,2,16,0,9,7,5152,2339828,92,16,0,23,Airborne,1,94,30,66,37,10.0,80.88,28,86.18,15,1.342,2020-02-26,517650.0,1,0,79,20
2,ORDER,1,16,0,12,4,5152,2339773,62,16,0,19,PC419,1,84,23,32,30,7.0,84.20,52,91.72,9,1.562,2020-02-26,475300.0,1,0,273,285
3,eUnited,6,16,0,9,7,5151,2339551,67,16,0,26,Infinity,1,104,26,81,46,11.0,76.92,23,85.14,10,1.248,2020-02-26,569200.0,1,0,436,195
4,Virtus.pro,7,16,0,8,8,4901,2339389,19,1,1,23,MAD Lions,3,86,21,62,42,1.0,75.66,24,80.04,1,1.230,2020-02-26,482800.0,1,0,400,231

In [34]:
final_encoded = df2.drop(['team','opponent', 'date'], axis=1)

In [35]:
data_scaler = StandardScaler()

In [36]:
match_scaled_data = data_scaler.fit_transform(final_encoded)

In [37]:
match_scaled_data[:5]

array([[ 0.37458117, -0.70991522,  1.0746962 , -1.77703912,  0.92265668,
         1.67194131,  1.74055537,  0.0456178 ,  1.09823511,  1.08358225,
        -0.08109702, -1.75680883, -0.28333837, -0.42565239,  0.16854335,
        -0.02732319, -0.20695362, -0.32093845, -0.42158155, -0.50302544,
         0.67480157, -0.34563061, -0.02019711, -1.        ,  1.        ,
        -1.18237099,  1.00522415],
       [-0.69003358,  0.6151585 , -0.93049552,  0.74440975,  0.2684698 ,
         1.67420111,  1.7436981 ,  0.85945185,  2.18874296, -0.92286488,
        -0.64812554, -1.75680883,  0.26645929,  1.04784312, -1.02149452,
        -0.31648992,  1.16859947,  1.24544409,  1.20209703,  1.38814238,
         2.52407582,  1.2245662 , -0.0280498 ,  1.        , -1.        ,
        -1.17522199, -1.59701321],
       [-1.22234095,  0.6151585 , -0.93049552,  1.68995307, -0.71281052,
         1.67420111,  1.73040194,  0.21695128,  2.18874296, -0.92286488,
        -1.40416356, -1.75680883, -0.19170543,  0.11016416, -2.57769787,
        -0.99121227,  0.34326762,  1.59873146,  2.22757825,  1.99445428,
         1.51538077,  2.15317722, -0.47146483,  1.        , -1.        ,
         0.21168473,  0.29747278],
       [ 1.43919591,  0.6151585 , -0.93049552,  0.74440975,  0.2684698 ,
         1.67194131,  1.6767338 ,  0.32403471,  2.18874296, -0.92286488,
        -0.08109702, -1.75680883,  0.72462401,  0.51202657, -0.33493421,
         0.55101026,  1.44371009,  0.82405314,  0.98845511,  1.27432209,
         1.68349661,  0.82779604,  0.51169151,  1.        , -1.        ,
         1.37697234, -0.34593756],
       [ 1.97150328,  0.6151585 , -0.93049552,  0.42922864,  0.59556324,
         1.10699101,  1.63757056, -0.70396619, -0.53752666,  1.08358225,
        -0.64812554,  0.54302531, -0.10007248, -0.15774411, -1.20457726,
         0.16545462, -1.3073961 ,  0.6899742 ,  1.0311835 ,  0.71616493,
         0.17045404,  0.75181877, -0.39293796,  1.        , -1.        ,
         1.11960821, -0.08857342]])

1.0840916240083397e-16
1.0000000000000002

In [39]:
match_scaled_data.shape

(21498, 27)

In [64]:
X = final_encoded.copy()
X = X.drop("map_winner", axis=1)
X.head()

,map,result,ct,t,event_id,match_id,rank,map_wins,match_winner,total_rounds_played,best_of,kills,assists,deaths,hs,flash_assists,kast,kddiff,adr,fkdiff,rating,equipment_cost_total_all_rounds,start_ct,start_t,team_code,opponent_code
0,4,10,1,9,5151,2339815,54,10,1,26,1,82,19,92,40,5.0,66.16,-10,68.90,4,0.970,518400.0,0,1,78,384
1,2,16,9,7,5152,2339828,92,16,0,23,1,94,30,66,37,10.0,80.88,28,86.18,15,1.342,517650.0,1,0,79,20
2,1,16,12,4,5152,2339773,62,16,0,19,1,84,23,32,30,7.0,84.20,52,91.72,9,1.562,475300.0,1,0,273,285
3,6,16,9,7,5151,2339551,67,16,0,26,1,104,26,81,46,11.0,76.92,23,85.14,10,1.248,569200.0,1,0,436,195
4,7,16,8,8,4901,2339389,19,1,1,23,3,86,21,62,42,1.0,75.66,24,80.04,1,1.230,482800.0,1,0,400,231

In [65]:
y = final_encoded['map_winner'].values
y[:5]

array([1, 0, 0, 0, 0])

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size=0.80)

In [67]:
# shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(17198, 26)
(4300, 26)
(17198,)
(4300,)

In [68]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [69]:
import numpy as np
print(np.mean(X_train_scaled[:,0]))
print(np.std(X_train_scaled[:,0]))
print(np.mean(X_test_scaled[:,0]))
print(np.std(X_test_scaled[:,0]))

8.263085658333529e-19
1.0
-0.019959860750093972
0.9947070491569213

In [70]:
from sklearn.tree import DecisionTreeClassifier
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [71]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)

In [72]:
predictions

array([0, 1, 0, ..., 1, 0, 1])

In [73]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         2270           28
Actual 1           22         1980

In [74]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [75]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2270           28
Actual 1           22         1980

Accuracy Score : 0.9883720930232558
Classification Report
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      2298
           1       0.99      0.99      0.99      2002

    accuracy                           0.99      4300
   macro avg       0.99      0.99      0.99      4300
weighted avg       0.99      0.99      0.99      4300

Random Forest

In [76]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [77]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [78]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [79]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [80]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [81]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         2844           57
Actual 1           56         2418

In [82]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [83]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2844           57
Actual 1           56         2418

Accuracy Score : 0.9789767441860465
Classification Report
              precision    recall  f1-score   support

           0       0.98      0.98      0.98      2901
           1       0.98      0.98      0.98      2474

    accuracy                           0.98      5375
   macro avg       0.98      0.98      0.98      5375
weighted avg       0.98      0.98      0.98      5375